<div class="banner_top container-fluid">
  <h2 class="banner_slogan1">
    放飞梦想 自由翱翔
  </h2>
  <p class="banner_slogan2">
    <a class="flash_button" href="/jobs">实现梦想</a>
    <br>没有找不到的人，没有做不成的事!
    <br>构建更高效的社会分工协作方式，打造成中国最大的自由职业平台!
  </p>
</div>

<div class="container-fluid text-center">
  <br><h2 class="content_slogan1">你向往的自由 原来离你这么近</h2>
  <br><em class="content_slogan2">打通“人”与“事”之间的任督二脉</em><br><br>
  <p>来这里，没有雇佣关系，只有互助互利！
    <br>来这里，没有朝九晚五，只有热情洋溢！
  </p>
  <p>在这里，我们建立企业和个人认证系统、信用评价体系，让你找到对的人；
    <br>在这里，我们可为自由职业者提供处理合同，交付确认，开票及收款服务；
    <br>在这里，我们可为自由职业者提供社保医疗缴纳服务，让你的自由更安心！
  </p>
  <br>
</div>

<hr/>

<div class="container-fluid text-center">
  <div class="row">
    <div class="service_content_area">
      <!-- Service LEFT SIDE -->
      <div class="col-md-4 service_left wow fadeInLeft">
        <div class="service_items">
          <div class="row">
            <div class="col-xs-9">
              <div class="text-left service_left_text">
                <h4 class="content_slogan1">自由文化</h4>
                <p class="content_text">超过10000+个自由工作项目<br/>你不但可以找到你喜欢做的事情，也可以发布你想让别人帮忙做的事。</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end Single Service item -->
        <!-- Service -->
        <div class="service_items">
          <div class="row">
            <div class="col-xs-9">
              <div class="text-left service_left_text">
                <h4 class="content_slogan1">透明高效</h4>
                <p class="content_text">信息透明，双方可见，拒绝中介交易，让大家直接沟通。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /END Service LEFT -->
      <!-- PIC IMAGE -->
      <div class="col-md-4 sm-m-top-40 sm-text-center">
        <div class="img">
          <br/><br/><br/>
          <img src="http://ww3.sinaimg.cn/large/006tNbRwgy1ff5nmnp7gvj30a00a0wgf.jpg"  alt="Architect Img">
        </div>
      </div>
      <!-- Service RIGHT -->
      <div class="col-md-4 service_right sm-m-top-40" >
        <!-- Service -->
        <div class="service_items">
          <div class="row">
            <div class="col-xs-9">
              <div class="service_right_text p-l-15 text-right">
                <h4 class="content_slogan1">高级支持</h4>
                <p class="content_text">精准推荐、匹配和撮合，<br/> 行业趋势分析。</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end Single Service item -->
        <!-- Service -->
        <div class="service_items">
          <div class="row">
            <div class="col-xs-9">
              <div class="service_right_text p-l-15 text-right">
                <h4 class="content_slogan1">更多服务</h4>
                <p class="content_text">处理合同、交付确认、开票及收款，<br/> 支付保证和垫资服务。</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end Single Service item -->
      </div>
      <!-- /END Service RIGHT -->
    </div>
  </div> <!--End off row -->
</div>

<hr/>

<div class="container-fluid text-center">
  <h2 class="content_slogan1">享受生活 享受工作</h2>
  <br><em class="content_slogan2">随时 随地 随心</em><br><br>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="/" data-toggle="collapse">
        <!-- <img src="http://ww2.sinaimg.cn/large/006tKfTcgy1fewn8g83npj315o0ulk1g.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
        <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff5uqbe5raj308w08w3zo.jpg" alt="1" width="180" height="180">
      </a>
      <p class="text-center"><strong></strong></p><br>
      <div id="how1" class="collapse">
        <p>aaa</p>
        <p>bbb</p>
        <p>ccc</p>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="/" data-toggle="collapse">
        <!-- <img src="http://ww1.sinaimg.cn/large/006tKfTcgy1fewn5sz709j315o0uldqd.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
        <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff5uqummkej308w08wwfy.jpg" alt="2" width="180" height="180">
      </a>
      <p class="text-center"><strong></strong></p><br>
      <div id="how2" class="collapse">
        <p>111</p>
        <p>222</p>
        <p>333</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
      <a href="/" data-toggle="collapse">
        <!-- <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fewn52shutj315o0ulail.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
        <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff5urljtxoj308w08wq4o.jpg" alt="3" width="180" height="180">
      </a>
      <p class="text-center"><strong></strong></p><br>
      <div id="how3" class="collapse">
        <p>xxx</p>
        <p>yyy</p>
        <p>zzz</p>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="/" data-toggle="collapse">
        <!-- <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fewn52shutj315o0ulail.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
        <img src="http://ww2.sinaimg.cn/large/006tNbRwgy1ff5usj4opnj308w08wgmn.jpg" alt="4" width="180" height="180">
      </a>
      <p class="text-center"><strong></strong></p><br>
      <div id="how4" class="collapse">
        <p>xxx</p>
        <p>yyy</p>
        <p>zzz</p>
      </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6">
      <a href="/" data-toggle="collapse">
        <!-- <img src="http://ww3.sinaimg.cn/large/006tKfTcgy1fewn52shutj315o0ulail.jpg" class="img-circle person" alt="Random Name" width="255" height="255"> -->
        <img src="http://ww1.sinaimg.cn/large/006tNbRwgy1ff5vqifcvsj308w08wabm.jpg" alt="5" width="180" height="180">
      </a>
      <p class="text-center"><strong></strong></p><br>
      <div id="how5" class="collapse">
        <p>xxx</p>
        <p>yyy</p>
        <p>zzz</p>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="carousel-reviews container-fluid">
  <h2 class="content_slogan1">自由工作 共同见证</h2>
  <div class="row">
    <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <div class="col-md-4 col-sm-6">
            <div class="block-text rel zmin">
              <a title="" href="#">陈丽娟</a>
              <div class="mark">我的评分: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star-empty"></span>  </span></div>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;曾经的我每天上班的工作都都是既琐碎又必须做的事情，虽然我很想改变但是又不知道该如何去做，幸运的是我在一个偶然的机会下我来到这里，并尝试发布自己的简历和求职意向，结果没多久就有一家策划公司联系上我，经过对方人力资源负者人的在线交流和一些考核后，我顺利赢得了这份自由的工作，再次点燃我对生活的热情...</p>
              <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel">
              <img src="http://myinstantcms.ru/images/img13.png"/>
              <a title="" href="#">Ms.Chen</a>
              <i>from Glasgow, Scotland</i>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 hidden-xs">
            <div class="block-text rel zmin">
              <a title="" href="#">飞奔</a>
              <div class="mark">我的评分: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作为一家初创企业CEO的我，打造了一款APP，随着用户数的递增，日益增加的需求让我疲于应对，但是请人的成本太高，而且还很难找到适合的人才，于是在一个朋友的推荐下，我在这里发布了一条招聘信息，结果很快就有好几个符合要求的人联系我，经筛选后我找到现在的创业合伙人清风，从此我的公司飞速发展，自由工作网真靠谱... </p>
              <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel">
              <img src="http://myinstantcms.ru/images/img14.png"/>
              <a title="" href="#">Mr.Fei</a>
              <i>United States</i>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
            <div class="block-text rel zmin">
              <a title="" href="#">潘秀珍</a>
              <div class="mark">我的评分: <span class="rating-input"><span data-value="0" class="glyphicon glyphicon-star"></span><span data-value="1" class="glyphicon glyphicon-star"></span><span data-value="2" class="glyphicon glyphicon-star"></span><span data-value="3" class="glyphicon glyphicon-star"></span><span data-value="4" class="glyphicon glyphicon-star"></span><span data-value="5" class="glyphicon glyphicon-star"></span>  </span></div>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我是一个电脑盲，电脑和软件问题常常让我焦头烂额，在这发布了需求信息后，很快就有几人联系上我，于是我选了一个评价比较高的小伙子，联系后他很耐心的为我解决了电脑上的问题，从此我还经常麻烦他，慢满的我们也越来越熟悉，他的积极上进、为人真诚打动了我，就这样我们从陌生人到朋友再到夫妻，感谢自由工作网，让我找到了幸福...</p>
              <ins class="ab zmin sprite sprite-i-triangle block"></ins>
            </div>
            <div class="person-text rel">
              <img src="http://myinstantcms.ru/images/img15.png"/>
              <a title="" href="#">Ms.Pan</a>
              <i>Indonesia</i>
            </div>
          </div>
        </div>

      </div>
      <!-- <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a> -->
    </div>
  </div>


</div>

<hr>

<div class="container-fluid text-center">
  <br><h2 class="content_slogan1">没有什么能够阻挡，你对自由的向往！</h2>
  <br><br><br>
</div>

<div class="banner_bottom container-fluid">
  <a class="flash_button" href="/jobs">实现梦想</a><br>
</div>
