<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
      if (pos < winTop + 600) {
        $(this).addClass("slide");
      }
    });
  });
})
</script>


<div class="footer">
  <div class="container">

    <div class="footer-totop">
      <a href="/" title="To Top"><span class="glyphicon glyphicon-chevron-up"></span></a>
    </div>
    <br>
    <div class="footer-link">
          <a href='#'><i class="fa fa-twitch fa-2x fa-fw"></i></a>
          <a href='https://www.facebook.com/liangyunyu'><i class="fa fa-facebook fa-2x fa-fw"></i></a>
          <a href='https://twitter.com/liangyunyu'><i class="fa fa-twitter fa-2x fa-fw"></i></a>
          <a href='https://www.youtube.com'><i class="fa fa-youtube-play fa-2x fa-fw"></i></a>
          <a href='https://www.rss.com'><i class="fa fa-rss fa-2x fa-fw"></i></a>
          <a href='https://vine.co'><i class="fa fa-vine fa-2x fa-fw"></i></a>
          <a href='https://www.flickr.com/photos/liangyunyu'><i class="fa fa-flickr fa-2x fa-fw"></i></a>
          <a href='https://www.linkedin.com'><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
          <a href='https://github.com/liangyunyu'><i class="fa fa-github-alt fa-2x fa-fw"></i></a>
          <a href='https://fullstack.xinshengdaxue.com/works/419'><i class="fa fa-thumbs-o-up fa-2x fa-fw"></i></a>
        </div>
        <br>
        <div class="footer-text">
        Copyright ©2017 ZiYouGongZuo.com Designed by Lyy
      </div>
  </div>
</div>
