<!-- <footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 Job Listing
        <br>Design by
        <a href="https://github.com/liangyunyu/job-listing-1" target=_new>lyy</a>
    </p>
</footer> -->

<!-- <footer class="text-center"> -->
   <!-- <div class="footer-below"> -->
   <div class="footer">
       <p class="text-center">Copyright ©2017 Job Listing
           <br>Design by Lyy
       </p>
   </div>
  <!-- </footer> -->
