<ul class="nav nav-pills nav-stacked" style="max-width: 300px; padding-top:20px;">
  <li class="active"><%= link_to("需求管理", admin_jobs_path, :class => "btn btn-info" ) %> </li>
  <li class="active"><%= link_to("意向管理", admin_resumes_path, :class => "btn btn-info" ) %> </li>
  <li class="active"><%= link_to("返回首页", root_path, :class => "btn btn-info" ) %> </li>
</ul>
